#welcome {
  padding-top: 75px;
  padding-bottom: 75px;
  .server-list{
    //display: flex;
    display: grid;
    //grid-template-columns: 288px 288px 288px;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 366px;
    grid-gap: 20px;
  }
  @media (max-width: 991px) {
    .server-list{
      grid-template-columns: auto auto auto;
    }
  }
  @media (max-width: 767px) {
    .server-list{
      display: block;
    }
    .server-card{
      margin-right: 0 !important;
      margin-bottom: 40px;
    }
  }
  @media (min-width: 768px){
    .server-card {
      //width: 18rem;
      width: 100%;
      max-width: 18rem;
    }
  }
}
